<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="questions" *ngIf="questionList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Question</th>
            <th class="h">Answers</th>
            <th class="h">Correct</th>
            <th class="h">Section</th>
            <th class="h">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="question" (dblclick)="editQuestion(question)" *ngFor="let quest of questionList">
            <ng-container *ngIf="!editQuestions.includes(quest); else editQ">
              <td>{{quest.question}}</td>
              <td>{{quest.answers }}</td>
              <td>{{quest.correct }}</td>
              <td>{{quest.section }}</td>
              <td>{{quest.status }}</td>
            </ng-container>

            <ng-template #editQ>
              <td><input type="text" name="question" id="question" (keypress)="submitQuestion($event, question)" [(ngModel)]="quest.question" placeholder="Question" class="form-control"></td>
                <td> <input type="text" name="answers" id="answers" (keypress)="submitQuestion($event, answers)" [(ngModel)]="quest.answers" placeholder="Answers" class="form-control"></td>
              <td><input type="text" name="correct" id="correct" (keypress)="submitQuestion($event, correct)" [(ngModel)]="quest.correct" placeholder="Correct" class="form-control"></td>
                <td> <input type="text" name="section" id="section" (keypress)="submitQuestion($event, section)" [(ngModel)]="quest.section" placeholder="Section" class="form-control"></td>
                <td> <input type="text" name="status" id="status" (keypress)="submitQuestion($event, status)" [(ngModel)]="quest.status" placeholder="Status" class="form-control"></td>
            </ng-template>

            <td class="o">
              <button class="btn btn-primary" (click)="editQuestion(quest)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteQuestion(quest)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form>
      <div class="form-row">
        <div class="col-md-5">
          <input type="text" name="question" id="question" [(ngModel)]="newQuestion.question" placeholder="question" class="form-control">
      </div>

      <div class="col-md-5">
        <input type="text" name="answers" id="answers" [(ngModel)]="newQuestion.answers" placeholder="answers" class="form-control">
      </div>
      <div class="col-md-5">
        <input name="correct" id="correct" [(ngModel)]="newQuestion.correct" placeholder="correct" class="form-control">
      </div>
      <div class="col-md-5">
        <input name="section" id="section" [(ngModel)]="newQuestion.section" placeholder="section" class="form-control">
      </div>
      <div class="col-md-5">
        <input name="status" id="status" [(ngModel)]="newQuestion.status" placeholder="status" class="form-control">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
      </div>
    </div>
  </form>
  </div>
  <div class="col-md-2">

  </div>
</div>
